// Variables
$bg-body: #AD5D4E;
$color-primary: #d19057;
$color-details: #d59f6f;
$bg-bill: #b93d39;
$color-sucess: #929646;
$color-product: #5b1112;

$xs-breakpoint: 575px;
$sm-breakpoint: 767px;
$md-breakpoint: 991px;