@use "./variables" as v;

.order-detail {
    width:  auto;
    background-color: v.$color-details;
    opacity: 0.8;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    li {
      display: flex;
      justify-content:space-between;
      text-align: center;
    }
  
  }
  
  .display-total {
    background-color: v.$bg-bill;
    text-align: center;
    padding: 1rem;
    span {
      font-size: 2rem;
      font-weight: bold;
    }
  }

 
