@use "./variables" as v;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    margin-top: 2rem;
    border-bottom: 0.8rem solid v.$color-sucess;
    padding-bottom: 10px; 
    img {
        width:20vw;
    }
    .arrow-back {
        width:10vh;
        cursor: pointer;
    }
}

