@use "./variables" as v;

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242D41;
    opacity: 0.8;
    padding : 2rem;
    margin-top: 2rem;
    svg {
        font-size: 7rem;
        margin:2rem;
    }
    h1 {
        font-size: 6rem;
    }
    img {
        width:30vh;
    }
    .arrow-back {
        width:10vh;
    }
}