@use "./mixins" as m;


.container {
    max-width: 90vw;
    margin: auto;
    height: 100vh;
  }

  .menu-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    margin:auto;
    height: 70vh;
  }
  
  .menu-tab-add {
    @include m.menuTab(#5C81BA);
  }
  
  .menu-tab-show {
    @include m.menuTab(#AD5D4E)
  }
  
  .menu-tab-pay {
    @include m.menuTab(#ACBEA3)
  }