@use "./mixins" as m;


.container {
    max-width: 90vw;
    margin: auto;
    height: 100vh;
  }

  .menu-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    margin:auto;
    height: 70vh;
  }
  
  .menu-tab-add {
    @include m.menuTab(url("../img/order-pizza.png"));
  }
  
  .menu-tab-show {
    // @include m.menuTab(#AD5D4E)
    @include m.menuTab(url("../img/pending-order-bg.png"));
  }
  
  .menu-tab-pay {
    // @include m.menuTab(#ACBEA3)
    @include m.menuTab(url("../img/order-topay-bg.png"));
  }