@use "./stylesheets/reset";
@use "./stylesheets/variables" as v;
@use "./stylesheets/mixins" as m;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/background-pizza.jpg");
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 90vw;
  margin: auto;
}

.menu-cards {
  display: flex;
  justify-content: space-between;
  padding:2rem;
  margin:2rem;
}

.menu-tab-add {
  @include m.menuTab(rgb(78, 78, 212));
}
