@use "./stylesheets/reset";
@use "./stylesheets/variables" as v;
@use "./stylesheets/mixins" as m;
@use "./stylesheets/fonts" as f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url("./img/background-pizza.jpg");
  background-color: v.$bg-body;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  padding:2rem;
}

.products-list {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
}

.select-order {
  display: flex;
  justify-content: center;
  select {
    width: 25%;
    text-align: center;
    margin: 2rem;
    border: none;
  }
}

.item-list {
  background-color: white;
  opacity: 0.6;
}