@use "./stylesheets/reset";
@use "./stylesheets/variables" as v;
@use "./stylesheets/mixins" as m;
@use "./stylesheets/fonts" as f;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-image: url("./img/background-pizza.jpg");
  background-color: v.$bg-body;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 1rem 0.5rem;
   @media screen and (min-width: 900px) {
    display: flex;
   }
}

.products-list {
  width:90vw;
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width:900px) {
    width: 60vw;
  }
}

.select-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h3{
    font-size: 2rem;
    text-align: center;
  }
  select {
    width: 100%;
    text-align: center;
    margin: 2rem;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    @media screen and (min-width:900px) {
      width: 25%;
    }
  }
}

.item-list {
  background-color: white;
  opacity: 0.6;
}